<div class="container">
    <div class="row">
        <h2>{{ title }}</h2><br>
        <div class="col-xs-11 col-sm-12 col-md-12">
            <form #f="ngForm" class="form-horizontal">
                <div class="form-group">
                    <label for="language" class="col-sm-3 control-label">Language</label>
                    <div class="col-sm-9">
                        <select id="language" class="form-control" #language="ngModel" [(ngModel)]="projectSettings.language" name="language" required>
                            <option *ngFor="let languageData of languageDatas" [value]="languageData.value">{{ languageData.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="time" class="col-sm-3 control-label">Time Zone</label>
                    <div class="col-sm-9">
                        <select id="time" class="form-control" #time="ngModel" [(ngModel)]="projectSettings.time" name="time" required>
                            <option *ngFor="let timeData of timeDatas" [value]="timeData.value">{{ timeData.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Communication</label>
                    <div class="col-sm-9">
                        <label class="checkbox-inline">             
                            <input type="checkbox" name="email" #email="ngModel" [(ngModel)]="projectSettings.communicationEmail" value="email">Email <!-- -->
                        </label>

                        <label class="checkbox-inline">
                            <input type="checkbox" name="sms" #sms="ngModel" [(ngModel)]="projectSettings.communicationSms" value="sms">SMS <!-- -->
                        </label>

                        <label class="checkbox-inline">
                            <input type="checkbox" name="phone" #phone="ngModel" [(ngModel)]="projectSettings.communicationPhone" value="phone">Phone <!-- -->
                        </label>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <button (click)="previousStep(f)" class="btn btn-default">PREVIOUS</button>
                    </div>
                    <div class="col-sm-offset-6 col-sm-2">
                        <button [disabled]="!f.valid" type="submit" (click)="nextStep(f)" class="btn btn-primary">NEXT STEP</button><!--routerLink="/delivery-details"-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>