<div class="container">
    <div class="row">
        <h2>{{ title }}</h2><br>
        <div class="col-xs-11 col-sm-12 col-md-12">
            <form #f="ngForm" class="form-horizontal">
                <div class="form-group">
                    <label for="address1" class="col-sm-3 control-label">Address 1</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="address1" placeholder="Address 1" #address1="ngModel"  [(ngModel)]="deliveryDetails.address1" name="address1" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address2" class="col-sm-3 control-label">Address 2</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="address2" placeholder="Address 2" #address2="ngModel" [(ngModel)]="deliveryDetails.address2" name="address2" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-2 col-sm-5">
                        <div class="form-group">
                            <label for="postCode" class="col-sm-3 control-label">Post Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="postCode" placeholder="Post Code" #postCode="ngModel" [(ngModel)]="deliveryDetails.postCode" name="postCode" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="city" class="col-sm-3 control-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="city" placeholder="City" #city="ngModel" [(ngModel)]="deliveryDetails.city" name="city" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-2 col-sm-5">
                        <div class="form-group">
                            <label for="state" class="col-sm-3 control-label">State</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="state" placeholder="State" #state="ngModel" [(ngModel)]="deliveryDetails.state" name="state" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="country" class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="country" placeholder="Country" #country="ngModel" [(ngModel)]="deliveryDetails.country" name="country" required>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <button class="btn btn-default" (click)="previousStep(f)">PREVIOUS</button>
                    </div>
                    <div class="col-sm-offset-6 col-sm-2">
                        <button [disabled]="!f.valid" type="submit" class="btn btn-primary" (click)="nextStep(f)">NEXT STEP</button><!--routerLink="/review-submit"-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
